@import '../variables'

$transition: all ease-in-out .5s

$bottom-space: 40px
$mobile-bottom-space: 30px

$barcode-height: calc(#{$dvh} - #{$standard-padding} * 2 - #{$navbar-height} - #{$barcode-numbers-height})
$barcode-height-minus-bottom: calc(#{$dvh} - #{$bottom-space} - #{$standard-padding} * 2 - #{$navbar-height} -  #{$barcode-numbers-height})

// different blurs to prevent flickering on different devices    
$d-blur: .5px
$m-blur: .0px

.css-barcode-wrapper
    display: flex
    position: absolute
    overflow: hidden
    top: $navbar-height
    flex-direction: column
    width: 100%
    height: calc(#{$dvh} - #{$navbar-height})
    touch-action: none
    &.small
        max-width: 50%

.css-barcode
    min-width: 100%
    max-width: 100%
    min-height: $barcode-height-minus-bottom
    max-height: 100%
    display: flex
    justify-content: space-between
    padding: 0 $standard-padding
    touch-action: none
    @include breakpoint(mobile-only)
        flex-direction: column
        min-height: calc(#{$dvh} - #{$navbar-height} - #{$barcode-numbers-height})
    &.small
        min-height: calc(100% - #{$standard-padding} * 1)
    .css-bar
        flex: 1 1 auto
        width: 10%
        max-width: 100%
        min-height: 100%
        max-height: 100%
        display: flex
        transition: flex ease-in-out .5s
        position: relative
        @include breakpoint(mobile-only)
            width: 100%
            min-height: 2vh
            flex-direction: column
        touch-action: none
        // &:hover
        //     flex: 400px
        .css-stripe
            height: 100%
            // transform: scaleX(1.09)
            @include breakpoint(mobile-only)
                height: auto
            flex: 1
            transition: flex ease-in-out .5s
            // To reduce white edge lineswhen rendering we add a minimal shadow
            &.black
                //transform: scaleX(1.2)
                background: $black
                box-shadow: 2px 0px $d-blur -1px $black, -2px 0px $d-blur -1px $black
                @include breakpoint(mobile-only)
                    box-shadow: 0px 2px $m-blur -1px $black, 0px -2px $m-blur -1px $black
        // remove white edge lines
        &.open

            div:last-child
                box-shadow: 2px 0px $d-blur -1px rgba(0,0,0,0)
                @include breakpoint(mobile-only)
                    box-shadow: 0px 2px $m-blur -1px rgba(0,0,0,0)
            div:nth-child(2)
                box-shadow: -2px 0px $d-blur -1px rgba(0,0,0,0)
                @include breakpoint(mobile-only)
                    box-shadow: 0px -2px $m-blur -1px rgba(0,0,0,0)
            div
                @include breakpoint(mobile-only)
                    box-shadow: inset 0px 0px $m-blur 2px #FFFFFF
        .css-bar-picture
            z-index: 1
            position: absolute
            width: 100%
            height: 100%
