@import 'variables'

$bottom-space: 30px
$barcode-height: calc(#{$dvh} - #{$bottom-space} - #{$standard-padding} * 2 - 36px)
.fill-complete-height
  min-height: $dvh
  height: $dvh

.scroll-arrow-wrapper
  @include breakpoint(tablet)
    left: 47%
.mobile-nav
  position: fixed
    // color: white
    // background: none
    // mix-blend-mode: difference
    // filter: invert(1) grayscale(0)
  .mobile-navbar-menu
    .navbar-item
      z-index: 12
    .fullscreen-menu
      display: none
      width: 100vw
      background: $background
      height: calc( #{$dvh})
      position: fixed
      top: 0
      left: 0
      padding-left: $standard-padding
      z-index: 10
      flex-direction: column
      justify-content: flex-end
      padding-bottom: $standard-padding
      &.open
        display: flex
        flex-direction: column
      .mobile-nav-item
        position: relative
        display: flex
        height: 60px

        .mobile-nav-link
          font-size: $mobile-huge-font-size
          line-height: 120%
          position: relative
          &::after
              transition: $fast-transition
              position: absolute
              content: ""
              display: block
              @include crossedMobileMenu
              width: 0px
              &:hover
                width: 100%
          &.active
            &::after
              width: 100%


              
.no-filter
  background: $background
  color: $black
  mix-blend-mode: normal
  filter: none
  .navbar-item, .navbar-brand
    mix-blend-mode: normal
    filter: none
    color: $black
.navbar-item
  @include breakpoint(tablet)
    padding-left: 0px!important
    padding-right: 0px!important

// .mobile-css-barcode
//     min-height: $barcode-height!important


.mobile-scroll-container
  @include breakpoint(tablet)
    position: fixed
    top: 0
    left: 0
    height: $dvh
    width: 100vw
    // scroll-snap-type: none

    .fill-container
        min-height: $dvh
        height: auto
        // this is really important to prevent flickering on IOs
        overflow: auto

.centered
  @include breakpoint(tablet)
    padding: 0
.horizontal
  @include breakpoint(tablet)
    display: flex
    
.meta-table
    @include breakpoint(tablet)
        margin-top: auto
        width: 100%
        background: $background
        z-index: 1
        .table-cross-line
          transition: none

        
        .columns
            display: flex

            &:hover
              .table-cross-line
                  width: 0
                  background: transparent
                  box-shadow: none
                  @media (hover: hover)
                    @include crossedFontLine(big)
                    background: $black
                    width: 100%
                    transition: none
            &:active
              .table-cross-line
                @include crossedFontLine(big)
                background: $black
                width: 100%
                transition: none



.project-column
    @include breakpoint(tablet)
        display: block
        min-height: $dvh
        width: 100%

.first-section
    @include breakpoint(tablet)
        // margin-top: $navbar-height
        .project-info-wrapper
          z-index: 2
        .project-info
            position: absolute
            min-height: auto
            bottom: 0
            background: $background
            z-index: 2
        .project-first-image
            position: absolute
            min-height: 90%
            height: 90%
.last-section
  &.fill-container
    @include breakpoint(tablet)
      min-height: 90%
      height: 90%
      position: absolute
.last-section-nav
  &.fill-container
    @include breakpoint(tablet)
      min-height: auto
      height: auto
.force-flex
    @include breakpoint(tablet)
        display: flex!important
.projects-index-barcode-column
    @include breakpoint(tablet)
        display: none
.project-index-wrapper, .single-page-wrapper
    @include breakpoint(tablet)
        // margin-top: $navbar-height

.fullscreen-animation-wrapper
    @include breakpoint(tablet)
        height: $barcode-height

.mobile-flex-column
  @include breakpoint(tablet)
    display: flex
    flex-direction: column

.minus-navbar
  @include breakpoint(tablet)
    height: $dvh!important


.mobile-flip-section
  @include breakpoint(tablet)
    .columns::-webkit-scrollbar
        display: none
    .columns
      overflow-y: hidden
      overflow-x: scroll
      scroll-snap-type: x mandatory
      -ms-overflow-style: none  /* IE and Edge */
      scrollbar-width: none  /* Firefox */
      -webkit-overflow-scrolling: touch
      display: flex
      flex-direction: row
      .column
        min-width: 100vw
        scroll-snap-align: start


.project-column
  @include breakpoint(tablet)
    display: flex
    justify-content: center
    align-items: center
    .project-picture
      min-height: $dvh!important

.last-section-nav
  @include breakpoint(tablet)
    .project-navigation
      z-index: 1
      background: $background
 
.centered
  @include breakpoint(tablet)
    padding: 0
    img
      object-fit: cover!important

.centered-mobile
  @include breakpoint(tablet)
    padding: calc(#{$standard-padding} * 3 )
    max-height: $dvh
    img
      object-fit: contain!important


.hide-column-mobile
  @include breakpoint(tablet)
    display: none