$black: #000000
$dark-gray: #515151

$background: #f2f2f2

$desktop-max-width: 2000px
$standard-padding: 10px
$barcode-numbers-height: 80px
$navbar-height: 36px
$navbar-height-important: 36px!important

$huge-font-size: 4rem

$cursor: url('/img/blur_arrow.svg') 0 0, move !important

// crossed lines
@mixin crossedFontLine()
  bottom: 43%
  height: 1px
  position: absolute
  background: $black
  width: 100%

@mixin breakpoint($point)
  @if $point == desktop
    @media (min-width: 70em)
      @content
  @else if $point == laptop
    @media (min-width: 64em)
      @content
  @else if $point == tablet 
    @media (min-width: 50em)
      @content
  @else if $point == phablet 
    @media (min-width: 37.5em)
      @content
  @else if $point == mobile-only 
    @media (max-width: 37.5em)
      @content